* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;  
}

a{
    text-decoration: none;
    color: inherit;
}

div.row{
    text-align: center;
    padding-left: 30px;
}

div.categorias{
    margin: 0;
}

#filtro {
    position: sticky;
    top: 208px;
    margin-top: 40px;
    background-color: #f5f5f5;
    padding: 10px;
    z-index: 0; 
    height: 100%;
    border: solid 1px pink;
    border-radius: 5px;
}

h2#roupas{
    margin-top: 30px;
    margin-bottom: 20px;
}
h2#beleza{
    margin-top: 30px;
    margin-bottom: 20px;
}
h2#casa{
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-title{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.card{
    background-color: #f5f5f5;
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 250px;
}

.card-img-top{
    height: 365px;
    width: 100%;
    object-fit: cover;
}

.custom-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 15px;
}

.custom-card .card-title {
    margin:0 0 15px 0;  
    padding: 0;  
    text-align: center;
}

.custom-card .btn_ico {
    margin-top: auto; 
    display: flex;
    justify-content: center; 
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;
}

.btn_ico{
    display: flex;
    margin-top: 25px;
}

.custom-card:hover {
    background-color: pink; 
    transition: ease 0.5s; 
}

.btn{
    background-color: black;
    color: white;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border: none; 
    text-align: center;
    font-size: 16px; 
    text-decoration: none;
}

.btn i {
    margin-right: 8px; 
    font-size: 18px; 
}

.custom-card .card-text{
    margin: 0 0 15px 0; 
    text-align: center;
}

.custom-card .btn_ico {
    margin-top: 15px; 
    display: flex;
    justify-content: center;
    padding: 10px;
}

.custom-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
    background-color: pink; 
    color: white;
    border-color: pink;
    transition: ease 0.5s;
    box-shadow: 0,0,0,0.5 black;
}

.btn.custom-btn {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn.custom-btn i{
    font-size: 1.3rem;
}

.btn.custom-btn p{
    margin: 0;
}

.custom-btn:hover {
    border: solid 2px white;
    box-shadow: 0,0,0,0.5 black;
}

.custom-card:hover {
    background-color: pink; 
    transform: scale(1.05); 
    
}

#priceRange::-webkit-slider-thumb{
    
    background-color: pink;
}

.form-select option:checked{
    background-color: pink;
}

.form-select {
    background-color: white; 
    color: black; 
    padding: 8px; 
    transition: background-color 0.3s ease;
}


.bi-cart-plus-fill{
    color: black;
    font-size: 24px;
}

@media (max-width: 767px){
    .btn.custom-btn p{
        padding: 0.5rem;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .card-text {
        padding-bottom: 0;
        margin-bottom: 0; 
        text-align: center; 
    }

    div.row{
        text-align: center;
        padding-left: 7px;
    }
}
