*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

#grade {
    display: grid;
    margin: 30px 40px 40px 40px;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-template-areas: 
        "filtro roupa roupa roupa"
        "filtro produtos1 produtos2 produtos3"
        "filtro beleza beleza beleza"
        "filtro produtos4 produtos5 produtos6"
        "filtro casa casa casa"
        "filtro produtos7 produtos8 produtos9";
    column-gap: 30px;
    row-gap: 40px;
}
@media (max-width: 1040px) {
    #grade {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: 
            "filtro filtro filtro"
            "roupa roupa roupa"
            "produtos1 produtos2 produtos3"
            "beleza beleza beleza"
            "produtos4 produtos5 produtos6"
            "casa casa casa"
            "produtos7 produtos8 produtos9";
    }
    #filtro {

        margin-bottom: 20px;
    }
}

#roupa{
    grid-area: roupa;
    border: none;
    text-align: center;
}

#beleza{
    grid-area: beleza;
    border: none;
    text-align: center;
}

#casa{
    grid-area: casa;
    border: none;
    text-align: center;
}

#filtro {
    grid-area: filtro;
}

div#produtos1 {
    grid-area: produtos1;
}

div#produtos2 {
    grid-area: produtos2;
}

div#produtos3 {
    grid-area: produtos3;
}

div#produtos4 {
    grid-area: produtos4;
}

div#produtos5 {
    grid-area: produtos5;
}

div#produtos6 {
    grid-area: produtos6;
}
div#produtos7 {
    grid-area: produtos7;
}

div#produtos8 {
    grid-area: produtos8;
}

div#produtos9 {
    grid-area: produtos9;
}


.card-title{
    margin-top: 20px;
    text-align: center;
}

.card{
    background-color: #f5f5f5;
}

.custom-card {
    transition: transform 0.3s, background-color 0.3s;
}

.custom-card:hover {
    background-color: pink; 
    transform: scale(1.05); 
}

.btn{
    background-color: black;
    color: white;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    border: none; 
    text-align: center;
    font-size: 16px; 
    text-decoration: none;
}

.btn i {
    margin-right: 8px; 
    font-size: 18px; 
}

@media (max-width: 767px) {
    .btn {
        font-size: 14px; /
    }

    .btn i {
        font-size: 16px; 
        margin-right: 6px; 
    }
}

.card-text{
    text-align: center;
    margin-top: 20px;
}

.custom-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
    background-color: pink; 
    color: white;
    border-color: pink;
}

.custom-btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
    background-color: pink;
    color: white;
    border: solid 2px white;
    box-shadow: 0,0,0,0.5 black;
}

.custom-card {
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card:hover {
    background-color: pink; 
    transform: scale(1.05); 
    
}

#priceRange::-webkit-slider-thumb{
    
    background-color: pink;
}

.form-select option:checked{
    background-color: pink;
}

.form-select {
    background-color: white; 
    color: black; 
    padding: 8px; 
    transition: background-color 0.3s ease;
}


.bi-cart-plus-fill{
    color: black;
    font-size: 24px;
}