body{
    margin: 10px;
    background-color: rgb(100, 163, 100);
    border: solid 3px black;
    height: 700px;
}
h1{
    height: 40px;
    font-size:35px;
    display: block;
    margin-inline-start: 400px;
    margin-inline-end: 0px;
}
section{
    display: grid;
    font-size: 20px;
    margin-inline-start: 0px;
    justify-items: center;
}
div{
    margin-inline-start: 300px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 2fr  2fr;
    grid-template-rows: 35px 35px;
}
p{
    height: 15px;
}
img{
    height: 150px;
    margin-inline-start: 550px;
    display: grid;
}