body{
    margin: 10px;
    background-color: #ffc0cb;
    border: solid 3px black;
    height: 800px;
    display: flex;
    justify-content: center;
}
.mb-3{
    display: grid;
    text-align: left;
}
h1{
    height: 40px;
    font-size:35px;
    display: grid;
    margin-inline-start: 100px;
}
a{
    display: grid;
    text-align: center;
}
#PAS{
    display: grid;
    text-align: center;
    margin-inline-start: 10px;
}
p{
    height: 1px;
}
img{
    height: 150px;
    display: grid;
    margin-inline-start: 175px;
}