* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar {
    background-color: #ffc0cb;
    box-shadow: 0 0 8px #1f1f1f;
    z-index: 3;
    box-shadow: 0 0 8px #1f1f1f;
}

#navbarNav {
    justify-content: center;
}

#navbarNav ul {
    gap: 40px;
}

.nav-item .nav-link {
    font-size: 18px;
    border-bottom: solid 2px transparent;
    transition: all .3s ease-out;
    font-weight: 550;
}

.nav-item .nav-link:hover {
    border-color: rgb(31, 31, 31);
}

.navbar-brand {
    background-color: rgba(247, 247, 247, 0.842);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.navbar-brand img {
    width: 65px;
    height: 70px;
    margin-top: -5px;
}

#icon-toggle i {
    font-size: 35px;
    color: #1f1f1f;
}

.navbar-toggler {
    border: none !important;
}

#carrinho {
    transition: all .3s;
    padding: 3px;
    margin-right: 8px;
}

#carrinho i {
    font-size: 35px;
    color: #1f1f1f;
}

#carrinho:hover {
    scale: 1.1;
    background-color: rgba(247, 247, 247, 0.842);
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    #navbarNav ul {
        gap: 10px;
        padding: 10px 0;
    }
}