#Produtos {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 50px;
    row-gap: 30px;
}

#main-btn {
    background-color: #ffc0cb;
    color: black;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: all 0.5s;
}

#main-btn:hover {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: solid 1px #ffc0cb;
}

@media (max-width: 768px) {
    .Detalhes {
        margin-top: 20px;
    }

    #Produtos {
        grid-template-columns: 1fr;
    }
}

.foto {
    display: flex;
    justify-content: center;
    margin: 0 60px;
    
}

.foto img {
    width: 55vw;
    border: solid 2px #909090;
    border-radius: 10px;
}

.Detalhes {
    margin-right: 40px;
}

.desc {
    margin-left: 40px;
}

p {
    margin-left: 30px;
}

.preco {
    margin-left: 13px;
}