#Produtos {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 50px;
    row-gap: 30px;
    justify-items: flex-start;
    gap: 20px;
}

#main-btn {
    background-color: #ffc0cb;
    color: black;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: all 0.5s;
}

#main-btn:hover {
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: solid 1px #ffc0cb;
}

@media screen and (max-width: 576px) {
    .foto img {
        width: 200% !important;
    }
}

@media screen and (max-width: 991px) {
    .Detalhes {
        margin-top: 20px;
    }

    #Produtos {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .preco {
        margin-bottom: 0px !important;
    }
}

.Detalhes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.foto {
    display: flex;
    justify-content: center;
    width: 40vw;
    padding: 0 30px;
}

.foto img {
    width: 100%;
    border: solid 2px #909090;
    border-radius: 10px;
}

.caixa-desc {
    padding-left: 30px;
}

.preco {
    margin-left: 13px;
    margin-bottom: 130px;
}

.star{
    color: #ed9d00;
    font-size: large;
}

div.star p{
    display: flex;
}

.heart i{
    border: #ffc0cb 2px solid;
    border-radius: 50%;
    color: #ffc0cb;
    width: 33px;
    height: 33px;
    text-align: center;
}

.heart i:hover{
    background-color: #ffc0cb;
    color: white;
}

.heart{
    display: flex;
    align-items: center;
    font-size: 135%;
}

.fav{
    font-size: 13px;
    color: black;
    margin: 0;
    margin-left: 10px;
}